*
{
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

*::selection {
    color: #ffffff;
    background: #006006;
}

body {
    background: #005005;
}

header {
    margin-bottom: 6%;
}

#video_header {
    object-fit: cover;
    z-index: 1;
}

h1 {
    color: #ffffff;
    position: absolute;
    top: 12%;
    left: 44%;
    text-align: center;
}

#menu {
    width: 97%;
    background: #00a30b;
    padding: 1.5%;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.menu-normal {
    position: absolute;
    top: 340px;
    border-radius: 7px 7px 7px 7px;
}

.menu-top {
    position: fixed;
    top: 0%;
    z-index: 3;
    border-radius: 0px 0px 7px 7px;
    box-shadow: 2px 0px 10px #444444;
}

#menu li {
    width: 10%;
    text-align: center;
}

#menu a {
    background: #ffffff;
    text-decoration: none;
    color: #00a30b;
    display: block;
    border-radius: 5px;
    box-shadow: 3px 3px 7px #004d05;
    padding: 5%;
}

#menu .en_cours {
    background: #006e07;
    color: #ffffff;
}

footer {
    background: #00a30b;
    text-align: center;
    margin-top: 2%;
    padding: 0.5%;
    border-radius: 5px 5px 0px 0px;
}

#top_arrow {
    width: 10px;
    margin-right: 0.5%;
}

footer a {
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
}
