aside {
    background: #ffffff;
    border-radius: 10px;
    width: 12%;
    height: 400px;
    padding: 2%;
    margin: 0% 3% 0% 0%;
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: sticky;
    top: 13%;
    z-index: 3;
}

aside a {
    color: #00a30b;
    text-decoration: none;
}

aside a:hover {
    text-decoration: underline;
}

.titre_menu {
    margin-top: 5%;
}

.sous_menu {
    margin-left: 6%;
}

.menu_page {
    position: relative;
    top: -100px;
}

section {
    background: #ffffff;
    border-radius: 10px;
    width: 71%;
    padding: 2%;
    margin: 0% 3% 0% 3%;
}

h2 {
    text-align: center;
    margin-bottom: 1%;
}

.ppe {
    margin-top: 5%;
}

.img_seul {
    width: 50%;
    margin: 0% 25% 0% 25%;
}

.img_seul img {
    width: 50%;
}

figure {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 1%;
}

.ppe3 a {
    width: 49%;
}

.ppe4 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 1%;
}

.ppe4 a {
    width: 20%;
}

figure img {
    width: 100%;
}

a {
    color: #00a30b;
}
